
Java Project/.classpath
Java Project/.project
Java Project/.settings/org.eclipse.core.resources.prefs
Java Project/.settings/org.eclipse.jdt.core.prefs
Java Project/.settings/org.eclipse.m2e.core.prefs
Java Project/src/main/java/application/HelloFX.java
